<div class="no-details" *ngIf="state && state.indexationStatus <= 1">
	<h3 class="text-warning">Indexing... Please wait a few seconds</h3>
	Product with Asin {{ state.productAsin }} is currently indexing.
</div>

<div *ngIf="state && state.indexationStatus === 2">
	<h2 class="mb-3"><a href="{{ state.url }}" target="_blank">{{ state.name }}</a></h2>
	<table class="table table-sm mb-3">
		<tr>
			<td>By:</td>
			<td>{{ state.by }}</td>
		</tr>
		<tr>
			<td>Ratings Count:</td>
			<td>{{ state.ratingTotalCount }}</td>
		</tr>
		<tr>
			<td>Average Rating:</td>
			<td>{{ state.ratingAverage }}</td>
		</tr>
		<tr>
			<td>Reviews Count:</td>
			<td>{{ state.reviewTotalCount }}</td>
		</tr>
	</table>

	<h3 class="mb-3">Top 50 recent reviews:</h3>
	<review-table [productStates]="[state]"></review-table>
</div>

<div class="no-details" *ngIf="state && state.indexationStatus === 3">
	<h3 class="text-danger"> An error occured indexing product {{ state.productAsin }}</h3>
	{{ state.errorMessage }}
</div>
