<div class="container">
	<div class="row">
		<div class="col col-sm-3">
			<div class="text-center">{{ (productStates || []).length }} product{{ (productStates || []).length > 1 ? 's' : '' }} loaded</div>
			<div *ngIf="(productStates || []).length > 0">
				<hr />
				<div class="" *ngFor="let state of productStates">
					<button (click)="selectState(state)"
						class="btn btn-block text-left btn-{{state === selectedState ? 'secondary' : 'light'}} mb-1">
						<span class="badge badge-pill badge-{{ getBadgeLevel(state) }}">&nbsp;</span>&nbsp;{{ state.productAsin }}
					</button>
				</div>
			</div>
			<hr />
			<div class="index-form">
				<form [formGroup]="requestIndexationForm" (ngSubmit)="onRequestIndexation()">
					<input class="form-control" type="text" placeholder="Type here any product ASINs..." [formControl]="asinsControl" />
					<span class="info">* Multiple ASINs must be separated with a comma.</span>
					<button class="btn btn-primary btn-block mt-3" type="submit">Index</button>
				</form>
			</div>
		</div>
		<div class="col col-sm-9">
			<div class="no-details" *ngIf="!selectedState"> Select a product to view details...</div>
			<div class="no-details" *ngIf="selectedState && selectedState.indexationStatus <= 1">
				<h3 class="text-warning">Indexing...</h3>
				Product with Asin {{ selectedState.productAsin }} is currently indexing.</div>
			<product-reviews [state]="selectedState" *ngIf="selectedState && selectedState.indexationStatus === 2"></product-reviews>
			<div class="no-details" *ngIf="selectedState && selectedState.indexationStatus === 3">
				<h3 class="text-danger"> An error occured indexing product {{ selectedState.productAsin }}</h3>
				{{ selectedState.errorMessage }}
			</div>
		</div>
	</div>
</div>